p {
	font-family: Arial;
    font-family: Georgia;
    font-family: Verdana;
    font-family: Impact;
    font-family: "Trebuchet MS";
    font-family: "Arial Black";
    font-family: "Comic Sans MS";
    font-family: "Courier New";
}