#menu {
	display:grid;
}
#menu a {
    width: 300px;
    margin: 10px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 20px;
	margin-right: 5px;
	padding: 20px;
	font: 15px Arial;
	text-decoration: none;
	color: #fff;
	border: 1px solid #16A177;
	background-color: #16A177;
}
#menu a:hover, #menu a.active {
	color: #16A177;
	border: 1px solid #16A177;
	background-color: #F5F6FA;
}