#parent {
	width: 200px;
    height: 250px;
	border: 1px solid red;
}

#child {    

	margin-top:    35px; /* сверху */
	margin-right:  35px; /* справа */
	margin-bottom: 35px; /* снизу */
	margin-left:   35px; /* слева */
	
    width: 120px;
	height: 160px;
    text-align: center;
	border: 1px solid green;
}