#parent {
	width: 200px;
    height: 200px;
	border: 1px solid red;
}

#child {    

	margin-top:    50px; /* сверху */
	margin-right:  20px; /* справа */
	margin-bottom: 50px; /* снизу */
	margin-left:   20px; /* слева */
	
    width: 150px;
	height: 80px;
	border: 1px solid green;
}